.swiper {
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    &.swiper-button-disabled {
      display: none;
    }
  }
  .swiper-button-prev {
    background-image: url('../../public/svg/arrow-left.svg');
    left: 20px;
  }
  .swiper-button-next {
    background-image: url('../../public/svg/arrow-right.svg');
    right: 20px;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: #999999;
      border: none;
      opacity: 1;
      width: 16px;
      height: 16px;
      &-active {
        background-color: #FFBA08;
      }
    }
  }
}